body {
    background-color: #CDE7FF;
}
.mainheader {
    margin: 131px 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainheader h1 {
    font-weight: 700;
    font-size: 64px;
    color: rgba(0, 0, 0, 0.85);
    max-width: 550px;
}

.inputbar {
    background-color: aliceblue;
    width: 58.9%;
    justify-self: flex-start;
    margin-top: 15px;
    height: 105px;
    box-shadow: 6px 5px 9px 0 rgba(0, 0, 0, 0.35);
}